importFrom(data.table, uniqueN)
importFrom(Rcpp, evalCpp)
importFrom(rgl, mesh3d, tmesh3d, translate3d)
importFrom(Rvcg, vcgUpdateNormals)

S3method(print,CGALmesh)
export(makeMesh)
export(doesBoundVolume)
export(doesSelfIntersect)
export(isClosed)
export(orientToBoundVolume)
export(removeSelfIntersections)
export(getVolume)
export(getCentroid)
export(getBoundingBox)
export(getOptimalBoundingBox)
export(plotEdges)
export(toRGL)
export(getSomeNormals)
export(readMeshFile)
export(writeMeshFile)
export(meshDifference)
export(meshIntersection)
export(meshUnion)
export(alphaWrap)
export(reconstructAFS)
export(reconstructSSS)
export(reconstructPoisson)
useDynLib(MeshUtils, .registration=TRUE)
